style.css
body {
            font-family: "Times New Roman", Times, serif;
        }
        .container {
            border: 1px solid black;
            width: 100%;
            padding-bottom: 20px;
        }
        .header {
            background-color: #dcdcdc;
            text-align: center;
            padding: 20px 0;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .red-text {
            color: red;
        }
        .nav-row {
            padding-left: 10px;
            margin-bottom: 10px;
        }
        .nav-item {
            display: inline-block;
            padding: 2px 5px;
            margin-right: 5px;
            font-size: 16px;
        }
        .blue-style {
            background-color: #add8e6;
            color: blue;
        }
        .green-style {
            background-color: #90ee90;
            color: black;
        }